<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="braintree_api" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Braintree API Integration</label>
                <attribute type="expanded">1</attribute>
                <field id="tokenization_key" type="obscure" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tokenization Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
        <section id="catalog">
            <group id="frontend_purchase" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Frontend Purchase</label>
                <attribute type="expanded">1</attribute>
                <field id="share_notification_email" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Share Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
