<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_collect_totals_before">
        <observer name="SetGiftCardCustomPrice" instance="SwiftOtter\GiftCard\Observer\SetGiftCardCustomPrice" />
    </event>
    <event name="sales_order_invoice_register">
        <observer name="RegisterGiftCard" instance="SwiftOtter\GiftCard\Observer\RegisterGiftCard" />
    </event>
</config>