<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Quote\Model\Quote">
        <plugin name="BuildPalletsForQuote"
                type="SwiftOtter\Palletizing\Plugin\BuildPalletsForQuote"/>
    </type>

    <virtualType name="SwiftOtter\Palletizing\Model\ResourceModel\Pallet\VirtualCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pallet</argument>
            <argument name="resourceModel" xsi:type="string">SwiftOtter\Palletizing\Model\ResourceModel\Pallet</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pallets_listing_data_source" xsi:type="string">SwiftOtter\Palletizing\Model\ResourceModel\Pallet\VirtualCollection</item>
            </argument>
        </arguments>
    </type>
</config>
