<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SwiftOtter_HandlingFee::pallet_grid"
             title="Pallet List"
             translate="title"
             module="SwiftOtter_HandlingFee"
             sortOrder="100"
             parent="Magento_Sales::sales_operation"
             action="pallets/view"
             resource="SwiftOtter_HandlingFee::Configuration"
        />
   </menu>
</config>
