<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SwiftOtter\Utils\Api\Data\UnifiedSaleInterface" type="SwiftOtter\Utils\Model\UnifiedSale"/>
    <preference for="SwiftOtter\Utils\Api\Data\UnifiedSaleItemInterface" type="SwiftOtter\Utils\Model\UnifiedSale\Item"/>

    <type name="Magento\Sales\Model\OrderFactory">
        <plugin name="UnifiedOrderAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderAlwaysExists" />
    </type>
    <type name="Magento\Sales\Api\Data\OrderInterfaceFactory">
        <plugin name="UnifiedOrderAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderAlwaysExists" />
    </type>

    <type name="Magento\Framework\Data\Collection\EntityFactory">
        <plugin name="UnifiedOrderItemAlwaysExistsForEntityManager"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderItemAlwaysExistsForEntityManager" />
    </type>
    <type name="Magento\Sales\Model\Order\ItemFactory">
        <plugin name="UnifiedOrderItemAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderItemAlwaysExists" />
    </type>
    <type name="Magento\Sales\Api\Data\OrderItemInterfaceFactory">
        <plugin name="UnifiedOrderItemAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderItemAlwaysExists" />
    </type>

    <type name="Magento\Quote\Model\QuoteFactory">
        <plugin name="UnifiedQuoteAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedQuoteAlwaysExists"/>
    </type>
    <type name="Magento\Quote\Api\Data\CartInterfaceFactory">
        <plugin name="UnifiedQuoteAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedQuoteAlwaysExists" />
    </type>

    <type name="Magento\Framework\Data\Collection\EntityFactory">
        <plugin name="UnifiedQuoteItemAlwaysExistsForEntityManager"
                type="SwiftOtter\Utils\Plugin\UnifiedQuoteItemAlwaysExistsForEntityManager" />
    </type>
    <type name="Magento\Quote\Model\Quote\ItemFactory">
        <plugin name="UnifiedQuoteItemAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedQuoteItemAlwaysExists" />
    </type>
    <type name="Magento\Quote\Api\Data\CartItemInterfaceFactory">
        <plugin name="UnifiedQuoteItemAlwaysExists"
                type="SwiftOtter\Utils\Plugin\UnifiedQuoteItemAlwaysExists" />
    </type>

    <type name="Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="UnifiedQuoteItemAlwaysExists"
                type="\SwiftOtter\Utils\Plugin\UnifiedQuoteAlwaysExistsOnResource" />
    </type>
    <type name="Magento\Framework\Api\DataObjectHelper">
        <plugin name="UnifiedOrderAlwaysExistsAfterMerge"
                type="SwiftOtter\Utils\Plugin\UnifiedOrderAlwaysExistsAfterMerge"/>
    </type>

    <type name="Magento\Framework\Reflection\MethodsMap">
        <plugin name="PreventUnifiedOnWebApi"
            type="SwiftOtter\Utils\Plugin\Api\PreventUnifiedOnWebApi" />
    </type>
</config>
