<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin">
            <group id="inventory_filter" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Inventory Filter</label>
                <field id="fast_stock_lookup" translate="label comment" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Enable Fast Stock Lookup</label>
                    <comment>If enabled, stock lookups go directly to the database.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
