<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="palletizing" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Palletizing</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fee_amount" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fee Amount</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="max_size_per_pallet" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Cubic Inches Per Pallet</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="pallet_padding" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amount of padding</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[
                        This is how much padding to allow. Enter a whole number and it will be converted into a percentage.
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>