<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SwiftOtter\ProductDecorator\Api\CalculatePriceInterface"
                type="SwiftOtter\ProductDecorator\Action\CalculatePrice" />

    <preference for="SwiftOtter\ProductDecorator\Api\LocationPrintMethodRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\LocationPrintMethodRepository" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\LocationPrintMethodInterface"
                type="SwiftOtter\ProductDecorator\Model\LocationPrintMethod" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\LocationPrintMethodSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\LocationRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\LocationRepository" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\LocationInterface"
                type="SwiftOtter\ProductDecorator\Model\Location" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\LocationSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\PrintChargeRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintChargeRepository" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintChargeInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintCharge" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintChargeSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\PrintMethodRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintMethod" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintMethodInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintMethod" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintMethodSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\TierRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\TierRepository" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\TierInterface"
                type="SwiftOtter\ProductDecorator\Model\Tier" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\TierSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\Data\PriceRequestInterface"
                type="SwiftOtter\ProductDecorator\Model\Data\PriceRequest" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PriceRequest\LocationRequestInterface"
                type="SwiftOtter\ProductDecorator\Model\Data\PriceRequestLocation" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PriceRequest\ProductRequestInterface"
                type="SwiftOtter\ProductDecorator\Model\Data\PriceRequestProduct" />

    <preference for="SwiftOtter\ProductDecorator\Api\Data\PriceResponseInterface"
                type="SwiftOtter\ProductDecorator\Model\Data\PriceResponse" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PriceResponse\ProductResponseInterface"
                type="SwiftOtter\ProductDecorator\Model\Data\PriceResponseProduct" />
    <preference for="\SwiftOtter\ProductDecorator\Api\Data\PriceResponse\AmountResponseInterface"
                type="\SwiftOtter\ProductDecorator\Model\Data\PriceResponseAmount" />

    <preference for="SwiftOtter\ProductDecorator\Api\PrintSpecRepositoryInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintSpecRepository" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintSpecInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintSpec" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintSpecSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintSpec\LocationInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintSpec\Location" />
    <preference for="ItemInterface"
                type="Item" />
    <preference for="SwiftOtter\ProductDecorator\Api\Data\PrintSpec\QuoteItemInterface"
                type="SwiftOtter\ProductDecorator\Model\PrintSpec\QuoteItem" />

    <type name="SwiftOtter\ProductDecorator\Model\Calculator\CompositeCalculator">
        <arguments>
            <argument xsi:type="array" name="calculators">
                <item xsi:type="object" name="BasePriceCalculator">SwiftOtter\ProductDecorator\Model\Calculator\BasePrice</item>
                <item xsi:type="object" name="PrintChargeCalculator">SwiftOtter\ProductDecorator\Model\Calculator\PrintCharge</item>
                <item xsi:type="object" name="AdjustmentCalculator">SwiftOtter\ProductDecorator\Model\Calculator\Adjustment</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rebuild_index" xsi:type="object">SwiftOtter\ProductDecorator\Command\Calculate</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\UpdateDisplayedPriceAfterProductSave" name="UpdateDisplayedPriceAfterProductSave" />
    </type>

    <!-- Pricing plugin updates -->
    <type name="Magento\Catalog\Pricing\Price\RegularPrice">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\DefaultPricingForDecorated\RegularPrice" name="RegularPriceDecoration" />
    </type>
    <type name="Magento\Catalog\Pricing\Price\TierPrice">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\DefaultPricingForDecorated\TierPrice" name="TierPriceDecoration" />
    </type>
    <type name="Magento\Catalog\Pricing\Price\SpecialPrice">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\DefaultPricingForDecorated\SpecialPrice" name="SpecialPriceDecoration" />
    </type>

    <!-- Product page -->
    <type name="Magento\Catalog\Helper\Product\View">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\AddDecoratorHandleToProductPage" name="AddDecoratorHandleToProductPage" />
    </type>

    <type name="Magento\Framework\Pricing\Render\RendererPool">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\ChangeFinalPriceTemplateDecoratedProduct" name="ChangeFinalPriceTemplateDecoratedProduct" />
    </type>

    <type name="Magento\Quote\Model\Quote">
        <plugin type="SwiftOtter\ProductDecorator\Plugin\QuoteAddProductConfigurePrintSpec" name="QuoteAddProductConfigurePrintSpec" />
        <plugin type="SwiftOtter\ProductDecorator\Plugin\AddPrintSpecToBuyRequest" name="AddPrintSpecToBuyRequest" />
    </type>

    <type name="SwiftOtter\ProductDecorator\Model\PrintSpec">
        <plugin type="\SwiftOtter\ProductDecorator\Plugin\Defaults\EnsurePrintSpecHasExtensionAttributes" name="EnsurePrintSpecHasExtensionAttributes" />
    </type>

    <type name="Magento\Quote\Model\Quote\ItemFactory">
        <plugin name="EnsureOrderArtQuoteItemAlwaysExists"
                type="SwiftOtter\ProductDecorator\Plugin\Defaults\EnsureQuoteItemHasPrintSpecAssociation"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="HandleDuplicateProductAdditions"
                type="SwiftOtter\ProductDecorator\Plugin\HandleDuplicateProductAdditions"/>
    </type>

    <type name="Magento\Framework\Data\Collection\EntityFactory">
        <plugin name="EnsureQuoteItemHasPrintSpecAssociationEntityManager"
                type="SwiftOtter\ProductDecorator\Plugin\Defaults\EnsureQuoteItemHasPrintSpecAssociation"/>
    </type>

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="AddPrintSpecsToQuote"
                type="SwiftOtter\ProductDecorator\Plugin\Hydration\AddPrintSpecsToQuote" />
    </type>

    <type name="Magento\Quote\Api\CartItemRepositoryInterface">
        <plugin name="AddPrintSpecsToQuoteItems"
                type="SwiftOtter\ProductDecorator\Plugin\Hydration\AddPrintSpecsToQuoteItems" />
    </type>

    <type name="Magento\Sales\Api\OrderItemInterfaceFactory">
        <plugin name="EnsureOrderItemHasPrintSpecAssociation"
                type="SwiftOtter\ProductDecorator\Plugin\Defaults\EnsureOrderItemHasPrintSpecAssociation" />
    </type>
    <type name="Magento\Sales\Model\Order\ItemFactory">
        <plugin name="EnsureOrderItemHasPrintSpecAssociation"
                type="SwiftOtter\ProductDecorator\Plugin\Defaults\EnsureOrderItemHasPrintSpecAssociation" />
    </type>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="AddPrintSpecsToOrder"
                type="SwiftOtter\ProductDecorator\Plugin\Hydration\AddPrintSpecsToOrder" />
    </type>

    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="AddPrintSpecsToOrderItems"
                type="SwiftOtter\ProductDecorator\Plugin\Hydration\AddPrintSpecsToOrderItems" />
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Item\Collection">
        <plugin name="AddPrintSpecsToOrder"
                type="SwiftOtter\ProductDecorator\Plugin\Hydration\AddPrintSpecsToOrderItemCollection" />
    </type>

    <type name="\Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="AddPrintSpecsToOrderItemDisplay"
                type="SwiftOtter\ProductDecorator\Plugin\AddPrintSpecsToOrderItemDisplay"/>
    </type>
</config>
